<section class="container-fluid d-flex">
    <div class="mt-2 p-5">
        <button class="btn btn-light mb-2 pe-2" (click)="irCrear()">Crear articulo</button> <br>
        <button class="btn btn-light pe-4 ps-4" (click)="irListado()">Consultar</button> <br> <br>
        <img class="card-img-top mt-2" src="../../../../assets/articulosPortada.png" alt="icono articulo" id="iconoArticulos">
    </div>
    <div class="mt-2">     
        <app-create-articulos *ngIf="ventanaCrear" (finCrear)="recogerDatos($event)"></app-create-articulos>
        <app-get-articulos *ngIf="mostrarListado"> </app-get-articulos>
    </div>
</section>
