<span *ngFor="let art of articulos | async">
    <div *ngIf="art._id == idArticulo">
        <div class="d-flex justify-content-around">
            <h6 class="card-title">{{art.nombre}}</h6>
        </div>
        <p class="card-text ms-3">
            Stock: {{art.stock}} <br>
            Precio: {{art.precio}} € <br>
            ¿Seguro que quieres eliminar este artículo?
        </p>
        <div class="d-flex justify-content-around">
            <button class="btn btn-outline-danger" (click)="peticionBorrar(art._rev!)"> Eliminar </button>
            <button class="btn btn-outline-secondary" (click)="volver(true)"> Cancelar
            </button>
        </div>
    </div>
</span>